.hero-container{
 display: flex;
 background-color: brown;
 padding: 25px;
 font-size: 1.25em;
 align-items: center;
 gap: 15px;
 border-radius: 25px;
 margin: 10px;
}
.hero-container button {
  background-color: red;
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.hero-container button:hover {
  background-color: chocolate;
}
.hero-container img {
  width: 100%;
  border-radius: 10px;
}
body {
  max-width: 1140px;
  background-color: aquamarine;
  margin: 0 auto;
}